<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="89cf83">  <td>20/01/25 17:21:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestAmazonHomePage.initialize()[pri:0, instance:com.indeetv.test.TestAmazonHomePage@42d8062c]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1113619023</td>   <td></td> </tr>
<tr bgcolor="89cf83">  <td>20/01/25 17:21:43</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAmazonHomePage.openAmazonHomePage()[pri:1, instance:com.indeetv.test.TestAmazonHomePage@42d8062c]">openAmazonHomePage</td> 
  <td>main@1113619023</td>   <td></td> </tr>
</table>
